  <h1>Edit Your Post:</h1>
  <form id="edit" name="edit" method="UPDATE" action="/users/edit">
   <div>
        <label for="postTitle">Post Title: </label>
        <textarea type="text" name="postTitle" required></textarea>
    </div>
    <div>
        <label for="postBody">Post Body: </label>
        <textarea type="text" name="postBody" required></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>