<div class="topnav">
  <a class="active" href="http://localhost:3000/users/signup">Sign Up</a>
  <a href="http://localhost:3000/users/login">Log In</a>
  <a href="http://localhost:3000/users/profile">View Profile</a>
  <a href="http://localhost:3000/posts">Blog Posts</a>
  <a href="http://localhost:3000/users/admin">Admin</a>
  <a href="http://localhost:3000/users/logout">Log Out</a>
</div>
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
